html, body {
    margin: 0;
    padding: 0;
}

#navbar {
    padding: 20px 0;
    font-size: 25px;
}

/*Displaying the navigation bar as a flexbox horizontally*/
#navbar > ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

h1 {
    text-align: center;
    font-size: 35px;
}

/*Creating a grid to display the content*/
.grid {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-auto-rows: 150px;
    grid-gap: 25px;
    justify-content: center;
}

p {
    text-align: center;
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 25px;
}

button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > p {
    font-size: 15px;
}