/*global variables to store colours*/
:root{
    --pink: #ff9999;
    --yellow: #ffff99
}

html, body {
    background: var(--yellow);
    color: black;
}

#navbar a {
    color: black;
}

h1, p {
    color: black;
}

.item {
    /*variable to override the global variable assigned to the background*/
    --pink: #ffcc99;
    background: var(--pink);
}

button {
    background: black;
    color: var(--pink);
}