:root{
    /*global variables to store colours*/
    --pink: #ff9999;
    --yellow: #ffff99
}

html, body {
    background: var(--yellow);
    color: black;
}

#navbar {
    --nav-pink: #ff9933;
}

#navbar a {
    color: var(--nav-pink);
}

h1, p {
    color: black;
}

.item {
    /*variable to override the global variable assigned to the background*/
    --item-pink: #ffcc99;
    background: var(--pink);
}

button {
    background: black;
    color: var(--pink);
}

.feature {
    /*Setting the colour of a specific grid item to a different shade of pink*/
    /*Local values instead of global*/
    --pink: var(--item-pink);
}
